{% extends 'base.html' %}
{% block content %}

<h1>Dog List</h1>

{% for dog in dogs %}
<div class="row">
  <a href="{% url 'detail' dog.id %}">
    <div class="col s12 m5">
      <div class="card-panel cyan lighten-4">
        <span class="card-title">{{ dog.name }}</span>
        <p>Breed: {{ dog.breed }}</p>
        <p>Description: {{ dog.description }}</p>
        {% if dog.age > 0 %}
          <p>Age: {{ dog.age }}</p>
        {% else %}
          <p>Age: Puppy</p>
        {% endif %}
      </div>
      </div>
    </div>
  </a>
  </div>
{% endfor %}

{% endblock %}